/AnnotationDemoApp.class
/Coach.class
/DatabaseFortuneService.class
/FortuneService.class
/HappyFortuneService.class
/RESTFortuneService.class
/RandomService.class
/TennisCoach.class
/RandomFortuneService.class
